.tt{
    margin: 130px auto 50px;
    border-spacing: 10px;
    color: #2C2626;
}

.aa{
    width: 288px; height: 61px;
    background: #1D9228;
    margin: 0 auto 50px;
    
    border-radius: 10px;
    background: #1D9228;
}
.aa a{
    display: block;
    height: 100%;
    padding: 2% 0;
    text-align: center;
    
    text-decoration: none;
    color: #2C2626;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 1.5;
}