.select{
    position: absolute;
    left: 980px; top: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
ul{
    list-style-type: none;
}

li{
    position: relative;
    float: left;
    width: 200px;
    background-color: #2C2626;
}

span{
    color: #E5E5E5;
}

ul li a{
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #E5E5E5;
}

ul li ul{
    display: none;
    width: 300px;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    margin:0;
    padding:0;
}

ul li:hover > ul{
    display: block;
}